// Header

.header {
}

.navbar {
  background-color: $secondary;
  padding: 1rem 5rem;
  & .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.nav-link {
  color: #fff !important;
}
